node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
Makefile
helm-charts
.env
.env.*
*.env
.editorconfig
coverage*

# Development files
.vscode
.idea
*.log
npm-debug.log*

# Build outputs
dist
build
*.tsbuildinfo

# Test files
coverage
*.test.ts

# Other unnecessary files
README.md
LICENSE
*.md
.DS_Store
